<div class="cart__product-item">
  <div class="cart__product-image">
    <img src="{{ cartProduct.images[0] }}" alt="" class="product__image" />
  </div>
  <div class="cart__product-details">
    <h3 class="product-item__header">{{ cartProduct.title }}</h3>
    <p class="product-item__size">
      Rozmiar:
      <span class="product-item__size-error">DO UZUPEŁNIENIA</span>
    </p>
    <hr class="product-item__line" />

    <p class="product-item__price">
      {{ cartProduct.price | currency: "PLN " }}
    </p>

    <select
      class="product-item__select-list"
      name="counter"
      (change)="onClickUpdate($any($event.target).value, cartProduct.id)"
      [ngModel]="cartProduct.count"
    >
      <option *ngFor="let arr of productsCount; let i = index" [value]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
  </div>
  <button
    class="product-item__button-delete"
    (click)="onClickDelete(cartProduct.id)"
  >
    X
  </button>
</div>
